<div class="list-group-item">
    <div class="row-picture">
        <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
    </div>
    <div class="row-content">
        <div class="least-content">{{activity.rel_time}}</div>
        <h2><a href="/users/{{ activity.user.username }}">{{ request.user.first_name}} {{ request.user.last_name}}</a></h2>
        <p class="list-group-item-text">{{activity.text}}</p>
    </div>
</div>
<div class="list-group-separator"></div>


<!-- Things that you can use from activity
activity.user (the user object of who did it, 
    in particular can access user.username and user.full_name, 
    or user.first_name)
activity.text (description of what this activity was)
activity.dt (not recommended, see relative time below)
activity.rel_time (relative time to when you're accessing it, i.e. 2hrs ago, 3 days, etc)
-->
