<!-- Home page -->

{% extends "base.html" %} 
{% load staticfiles %}

{% block title %} Home {% endblock %} 

{% block content %}
<div class="page-header" id="banner">
    <div class="row">
        <!-- Short Profile -->
        {% include "short_profile.html" %}
        
        <!-- Recent Activity -->
        <div class="col-sm-7">
            <div class="jumbotron">
                <h1>A Community Dedicated to Change</h1>
                <em><p>Global Health Corps Portal</p></em>

                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>

                <p><a class="btn btn-primary btn-lg">Learn more</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}