{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Profile {% endblock %}

{% block content %}

<div class="jumbotron">

    <p> <img src="{% static "my_app/myexample.jpg" %}" alt="Prof Pic"/>
    <h1> {{ request.user.full_name }} </h1> </p>

    <p> {{ request.user.about }} </p>
</div>

<h2> Recent Activity </h2>

<div class ="jumbotron">
{% for activity in self_activities %}
    {% include "self_activity_fragment.html" %}
{% endfor %}
</div>

<h2> Jobs Fulfilled </h2>

<div class="jumbotron">

    {% for job in self_jobs %}
        {% include "job_fragment.html"}
    {% endfor %}

</div>

{% endblock %}
