{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Profile {% endblock %}

{% block content %}

<p><br><br><br></p>

<div class="page-header" id="banner">
    <div class="row">

		<!-- Prof Pic -->
		<div class="col-sm-4">
			<img src="{% static "portal/imgs/prof_pic.png" %}" alt="Prof Pic"/><br>
			
			<br>
			<div class="col-sm-2"></div>
			<a href="{{ user.userextra.twitter }}" class="btn btn-danger btn-fab"><i class="material-icons">poll</i></a>
			<a href="{{ user.userextra.fb }}" class="btn btn-success btn-fab"><i class="material-icons">group</i></a>
			<a href="{{ user.userextra.linkedin }}" class="btn btn-warning btn-fab"><i class="material-icons">public</i></a>
		</div>

		<!-- Name and About -->
		<div class="col-sm-8">
		    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
		    <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: 80%"></div>
            </div>
		    <p class="lead">
		   {{ user.userextra.about }}</p>
		</div>

    </div>
</div>

<!-- Recent Activity -->
<div class="col-sm-6">
	<div class="jumbotron">
	  	<h3>Recent Activity</h3>
	  	<div class="bs-component">
            <div class="list-group">
				
				<div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                </div>

			  	{% for activity in self_activities %}
			    	{% include "self_activity_fragment.html" %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<!-- Jobs Fulfilled -->
<div class="col-sm-6">
	<div class="jumbotron">
		<h3>Jobs Fulfilled</h3>
		<div class="bs-component">
            <div class="list-group">
				
				<div class="progress">
                    <div class="progress-bar progress-bar-warning" style="width: 30%"></div>
                </div>

			    {% for job in self_jobs %}
			        {% include "job_fragment.html" %}
			    {% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}


